@import '../../variables.scss';

.profile_page_container {
    background-color: $background_regular;
    margin: 2rem auto;
    padding: 3rem;
    width: 60%;
    height: 30rem;
    border-radius: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    
    .user_pic_container {
        outline: 2px solid orange;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 3rem 2.7rem;
        height: 100%;
        flex: 4;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 1.3rem;
        
        img {
            background-color: grey;
            width: 84%;
            max-width: 84%;
            border-radius: 1.4rem;
        }
    }
    
    .user_info_container {
        outline: 2px solid orange;
        background-color: black;
        height: 100%;
        padding: 3rem;
        flex: 8;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 3fr 2fr 2fr;
        gap: 0.5rem;
        border-radius: 1.3rem;

        .user_nickname {
            font-size: 1.6rem;
        }

        .user_email {
            font-size: 1.6rem;
        }
    }
}