@import '../../../_variables';

.forgot_pass_container {
    background-color: $card_background;
    margin: 3rem auto 1rem auto;
    padding: 2rem 2rem;
    width: 30rem;
    height: 22rem;
    border-radius: 1.4rem;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.5rem;
    }

    .info_area {
        flex: 14;
        
        p {
            display: inline-block;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    input {
        flex: 3;
        background-color: #2b2a33;
        width: 18rem;
        height: 2rem;
    }

    button {
        flex: 3;
    }
}