@import '../../../variables.scss';
@import '../../../mixinsResponsive.scss';

.myform {
    width: 25rem;
    height: 32rem;
    margin: 4rem auto 0 auto;
    padding: 2rem 2rem 4rem 2rem;
    background-color: $card_background;
    border-radius: 1.5rem;
    box-sizing: border-box;

    @include respond-to("small_laptop") {
        margin: 3rem auto 2rem auto;
        width:23rem;
        height: 28rem;
    }
    
    @include respond-to("tablet_device") {
        margin: 5rem auto 2rem auto;
        width: 30rem;
        height: 38rem;
        padding: 2rem 2rem 5.4rem 2rem;
    }
    @include respond-to("smartphone") {
        // width: 20rem;
        width: 100%;
        height: 26rem;
        padding: 1rem;
        margin: 3rem auto 2rem auto;
        border-radius: 1em;

    }
    
    .form_area {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 9fr 6fr 11fr 6fr 8fr;
        justify-items: center;
        align-content: space-between;

        @include respond-to("tablet_device") {
            grid-template-rows: 6fr 3fr 6fr 3fr 6fr;

        }
        @include respond-to("smartphone") {
        grid-template-rows:6fr 4fr 6fr 4fr 6fr 6fr 2fr;
        }
        
        h2 {
            margin: 0 auto;
            font-size: 1.9rem;
            color: $button_color;

            @include respond-to("small_laptop") {
                font-size: 1.8rem;
            }

            @include respond-to("tablet_device") {
                font-size: 2.3rem;
            }

            &.signup_form_title {
                font-size: 1.4rem;
            }
        
        }


        label {
            font-size: 1.8rem;
            font-weight: 600;

            @include respond-to("small_laptop") {
                font-size: 1.6rem;
            }
            @include respond-to("smartphone") {
                font-size: 1.3rem;
                display: flex;
                align-items: center;
            }
        }

        input {

            @extend %auth_pages_input;

            @include respond-to("tablet_device") {
                font-size: 1.5rem!important;
                width: 90%;
                height: 61%;
                padding: 0 0.4rem;
            }

            &.input_area {

                @include respond-to("smartphone") {

                }
            }
        }
        
        button#signup_page_button {
            margin: 1rem auto 0 auto;
            width: 14rem;
            height: 3.6rem;

            @include respond-to("tablet_device") {
                margin: 0.7rem auto 0.4rem auto;
                width: 13.5rem;
                height: 4.1rem;
            }
            @include respond-to("smartphone") {
                margin: 0.7rem auto 0.4rem auto;
                width: 12rem;
                height: 2.5rem;
            }
        }

    }
}
