.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header_container .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_container .header_menu .site_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5em;
}
.header_container .header_menu .site_name span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_container .header_menu .nav_container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.header_container .header_menu .nav_container a {
  display: inline-block;
  font-size: 2em;
  color: white;
}

.hero_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  padding: 0 3.5em;
  height: 74vh;
  max-height: 580px;
  min-height: 68vh;
  background-color: #F5F5F4;
  border-radius: 3em;
  gap: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero_section {
    height: 68vh;
    max-height: 68vh;
    gap: 3%;
  }
}
.hero_section .hero_left_side {
  width: 50%;
  height: 100%;
  max-height: 100%;
  padding: 3rem 2.3rem;
  display: grid;
  grid-template-rows: 8fr 8fr 4fr;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero_section .hero_left_side {
    width: 52%;
    height: 90%;
    max-height: 90%;
  }
}
.hero_section .hero_left_side h2 {
  display: inline-block;
  font-size: 2.3rem;
  width: 98%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero_section .hero_left_side h2 {
    font-size: 2rem;
    padding-bottom: 0.7rem;
  }
}
.hero_section .hero_left_side p {
  display: inline-block;
  font-size: 1.5rem;
  width: 72%;
  text-align: left;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero_section .hero_left_side p {
    font-size: 1.1rem;
  }
}
.hero_section .hero_left_side .hero_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 2rem;
}
.hero_section .hero_right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 45%;
  height: 100%;
  padding: 3.7rem 2.3rem 3rem 2.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero_section .hero_right_side {
    height: 90%;
    max-height: 90%;
  }
}
.hero_section .hero_right_side .hero_image {
  max-height: 100%;
  background-size: cover;
  border-radius: 2rem;
}/*# sourceMappingURL=Header.module.css.map */