.login_form_container {
    background-color: black;
    margin: 3rem auto 0 auto;
    width: 24rem;
    height: 32rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 2rem;

    form {
        width: 100%;
        display: grid;
        grid-template-rows: 6fr 12fr 6fr 12fr 6fr 12fr 12fr;
        row-gap: 1%;
        justify-items: center;


        label {
            text-align: center;
            font-weight: 600;
            font-size: 1.5rem;
        }
         input, label {
            width: 70%;
            height: 1rem;
         }

        .login_name_input {
            margin-bottom: 1.5rem
        }

        .login_password_input {
            margin-bottom: 1.5rem;
        }

        button {
            padding: 1.7rem 3.8rem;
            line-height: 0rem;
            height: 1.5rem;
            margin: 0 auto;
        }

        .forgot_navlink {
            margin-top: 0.9rem;
            justify-self: end;
            font-size: 1rem;
        }
    }
    
}