@import '../../../variables';
@import '../../../mixinsResponsive.scss';

.login_form_container {
    width: 25rem;
    height: 32rem;
    padding: 2rem;
    margin: 4rem auto 0 auto;
    background-color: $card_background;
    box-sizing: border-box;
    border-radius: 1.5rem;

    @include respond-to("small_laptop") {
        width:23rem;
        height: 28rem;
    }

    @include respond-to("tablet_device") {
        margin: 5rem auto 2rem auto;
        width: 30rem;
        height: 38rem;
    }

    .form_area {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:6fr 4fr 6fr 4fr 6fr 6fr 2fr;
        justify-items: center;

        @include respond-to("tablet_device") {
            grid-template-rows: 6fr 3fr 6fr 3fr 6fr 6fr 2fr;
        }

        h2 {
            margin: 0 auto;
            font-size: 1.9rem;
            color: $button_color;

            @include respond-to("tablet_device") {
                font-size: 2.4rem;
            }
        }

        label {
            font-weight: 600;
            font-size: 1.8rem;

            @include respond-to("small_laptop") {
                font-size: 1.6rem;
            }
        }

        input {

            @extend %auth_pages_input;

            @include respond-to("tablet_device") {
                font-size: 1.5rem!important;
                width: 90%;
            }

        }

        .login_name_input {
            margin-bottom: 2rem
        }

        .login_password_input {
            margin-bottom: 2rem;
        }

        button {
            width: 15rem;
            margin: 0.5rem auto;

            @include respond-to("tablet_device") {
                width: 13.5rem;
                margin: 1.1rem auto;
            }
        }

        a {
            margin-top: 0.9rem;
            font-size: 1.1rem;
            font-weight: 600;
            justify-self: end;

            @include respond-to("tablet_device") {
                font-size: 1.3rem;
            }
        }
    }
    
}