@import '../../_variables.scss';

.product_section {
    width: 88vw;
    margin: 4rem auto;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    
    .product_list {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: space-between;
        align-items: space-between;
        gap: 3%;
        padding-inline: 0;
        
        .product_item {
            background-color: black;
            padding: 2rem 1rem;
            display: grid;
            grid-template-rows: 5fr 6fr 3fr 4fr;
            place-items: center;
            max-height: 360px;
            aspect-ratio: 7 / 10;
            overflow: hidden;
            border-radius: 2em;
        }
    }

}