@import '../../_variables.scss';
@import '../../mixinsResponsive.scss';

.product_section {
    width: 88vw;
    margin: 4rem auto;
    height: fit-content;
    max-height: max-content;
    display: flex;
    justify-content: center;
    
    .product_list {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: space-between;
        align-items: space-between;
        gap: 3%;
        padding-inline: 0;
        
        @include respond-to ("tablet_device") {
            grid-template-columns: repeat(3, 30%);
        }

        .product_item {
            display: grid;
            background-color: $card_background;
            padding: 2rem 1rem;
            grid-template-rows: 5fr 6fr 3fr 4fr;
            // place-items: center;
            justify-items: center;
            align-content: space-between;
            max-height: 360px;
            aspect-ratio: 7 / 10;
            overflow: hidden;
            border-radius: 2em;

            @include respond-to ("small_laptop") {
                grid-template-rows: 5fr 7fr 5fr 4fr;
            }

            @include respond-to ("tablet_device") {
                padding: 1rem 0.5rem;
                grid-template-rows: 5fr 7fr 5fr 4fr;
            }

        }
    }

}