.search_results_active {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 41rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 1rem;
  z-index: 2;
  border-radius: 1rem;
  background-color: #2b2a33;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .search_results_active {
    width: 35rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 850px) {
  .search_results_active {
    width: 35rem;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .search_results_active {
    width: 320px;
    margin: 0 auto;
    min-height: 300px;
    left: -50%;
    right: -50%;
  }
}

ul {
  width: 100%;
  padding-inline: 0px;
}
ul .result_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.1rem;
     -moz-column-gap: 0.1rem;
          column-gap: 0.1rem;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
ul .result_list_item div {
  background-color: #F5F5F4;
  color: #1E90FF;
  height: 5rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  ul .result_list_item div {
    font-size: 1.3rem;
    height: 4rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 850px) {
  ul .result_list_item div {
    font-size: 1.5rem;
    height: 4.8rem;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  ul .result_list_item div {
    font-size: 1.1rem;
    height: 3.4rem;
  }
}
ul .result_list_item .thumb_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-position: center;
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  ul .result_list_item .thumb_container {
    display: none;
  }
}
ul .result_list_item .thumb_container .result_thumb {
  width: 4.8rem;
}
ul .result_list_item .result_title {
  padding-left: 1.6rem;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  line-height: 4.8rem;
}
ul .result_list_item .result_price {
  padding-left: 1.6rem;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  line-height: 4.8rem;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  ul .result_list_item .result_title,
  ul .result_list_item .result_price {
    line-height: 4rem;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  ul .result_list_item .result_title,
  ul .result_list_item .result_price {
    line-height: 3.4rem;
  }
}
ul .result_list_item .result_title a,
ul .result_list_item .result_price a {
  color: #1E90FF;
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  ul .result_list_item .result_title a,
  ul .result_list_item .result_price a {
    font-weight: 600;
  }
}/*# sourceMappingURL=SearchResults.module.css.map */