//  PAGE CONTENT VARIABLE FILE  //


// --- (START) Page Colors ---  //
$background_dark: #091A2F;
$background_regular: #09253F;
$background_light: #437DB0;
$card_background: #F5F5F4;
$text_regular: #344451;
$card_dark: #000c06;
$card_light: #011d10;
$button_color: #1E90FF;
$icon_regular: #29a66a;
// --- (END) Page Colors ---  //



// --- (START) Inherited Templates --- //

%centered_content {
    margin: 2em auto;
    padding: 5% 5%;
}

%button_regular {
    background-color: transparent;
    text-align: center;
    color: $text_regular;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    border: 0.2em solid $button_color;
    color: $button_color;
    border-radius: 2.2rem;
    transition-property: color, background-color;
    transition-duration: 350ms;
    transition-timing-function: ease-out;

    &:hover {
        color: white;
        background-color: $button_color;
    }
}

%auth_pages_input {
    max-width: 90%;
    margin-bottom: 2rem;
    outline: 3px solid $background_dark!important;
    transition: outline 100ms ease-out;
        
    &:focus {
        outline: 6px solid $button_color!important;
    }
}


%centered_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
// --- (END) Inherited Specifications  --- //



// --- Testing Outline Specs --- //
$testline1: 4px dashed red;
$testline2: 4px dashed aqua;
$testline3: 4px dashed yellowgreen;
// ---  (END) Testing Outline Specs  --- //