//  PAGE CONTENT VARIABLE FILE  //


// --- Page Colors ---  //
$background_dark: #01180e;
$background_regular: #00190e;
$background_light: #034524;
$text_regular: #2c6639;
$card_dark: #000c06;
$card_light: #011d10;
$button_dark: #01c164;
$button_light: #32c07c;
$icon_regular: #29a66a;
// --- (END) Page Colors ---  //



// --- Inherited Templates --- //
%page_background {
    background-image: linear-gradient(to top, $background_dark, $background_light);;
}

%centered_content {
    margin: 2em auto;
    padding: 5% 5%;
}

%button_dark {
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 0.3em 1em;
    border: 0.1em solid $button_dark;
    color: $button_dark;
    border-radius: 1.6em;

    &:hover {
        transition-property: color, background-color;
        transition-duration: 350ms;
        transition-timing-function: ease-out;
        color: white;
        background-color: $button_dark;
    }
}


%centered_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
// --- (END) Inherited Specifications  --- //



// --- Testing Outline Specs --- //
$testline1: 4px dashed red;
$testline2: 4px dashed aqua;
$testline3: 4px dashed yellowgreen;
// ---  (END) Testing Outline Specs  --- //