//  MAIN SCSS STYLE FILE  //



// Importing main variables for App.css //
@import '_variables.scss';

body {
    font-size: 62.5%;
    display: inline;
    margin: 0 auto;
    padding: 0 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    box-sizing: border-box;
}

// header,
// section {
//     @extend %page_background;
// }


.page_container {
    background: repeating-linear-gradient(20deg, #01180e 600px, #034524 900px, #01180e 1550px);
    width: 88vw;
    padding: 2vw 6vw;
    height: fit-content;

    button {
        @extend %button_dark;
    }
}

form {
    input {
        font-size: 1.5rem;
    }
}

