//  MAIN SCSS STYLE FILE  //



// Importing variables and screen-mixins for App.css //
@import 'variables.scss';
@import 'mixinsResponsive.scss';

:root div,
:root h1,
:root h2,
:root h3,
:root h4,
:root p {
    color: $text_regular;
}

body {
    font-size: 62.5%;
    display: inline;
    margin: 0 auto;
    padding: 0px 0px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    box-sizing: border-box;
}

.page_container {
    background: repeating-linear-gradient(200deg, #437DB0 300px, #091A2F 900px, #437DB0 1150px);
    width: 88vw;
    padding: 2vh 6vw 40vh 6vw;
    min-height: 96vh;
    height: fit-content;

    @include respond-to ("smartphone") {
        width: 94vw;
        padding: 2vh 3vw 40vh 3vw; 
    }

    // only regular buttons //
    button {
        @extend %button_regular;

        @include respond-to ("small_laptop") {
            line-height: 1.3rem;
            font-size: 1.1rem;
            padding: 0.7rem 1.2rem;
        }
        
        @include respond-to ("smartphone") {
            line-height: 1rem;
            font-size: 1rem;
            padding: 0.6rem 1rem;
            border-width: 0.1em;

        }
    }
    
}

form {
    // inputs except auth pages //
    input {
        font-size: 1.5rem;
        background-color: $text_regular!important;
        color: $card_background!important;
        padding: 0.8rem 0.6rem;
        border-radius: 0.7rem;

        @include respond-to ("small_laptop") {
            font-size: 1.3rem;
            padding: 0.6rem 0.4rem;
        }
        @include respond-to ("tablet_device") {
            font-size: 1.1rem;
            padding: 0.8rem 0.4rem;
        }
        @include respond-to ("smartphone") {
            font-size: 1.8em;
            border-radius: 0.5em;
            padding: 0.5rem 0.3rem!important;
        }
    }

    // inputs only in auth pages //
    input#signup_email,
    input#signup_password,
    input#login_name,
    input#login_password {
        
        @include respond-to("smartphone") {
            width: 86%;
            font-size: 1.6em;
            // padding: 0.5rem 0.3rem!important;
        }
    }


    label {
        color: $text_regular;
    }
}
