@import '../../variables';
@import '../../mixinsResponsive';
    
.thumbnail_container {
        display: flex;
        justify-content: center;
        

        .product_thumbnail {
            width: 74%;
            background-color: transparent;
        }
}
        
.item_title {
        position: relative;
        display: flex;
        justify-content: end;
        margin: 0px auto;
        color: $button_color!important;
        font-size: 1.7em;
        padding: 0px;
        text-align: center;

        h3 {
                display: inline-block;
                position: absolute;
                top:0;
                color: $button_color!important;
                margin-top: 0;
        }
}

.item_price {
        color: $button_color!important;
        font-size: 1.7em;
        padding: 0px;
}

.product_button {
        @extend %button_regular;
        line-height: 1.7rem;
        font-size: 1rem;
        padding: 0.5rem 2.1rem;

        @include respond-to ("small_laptop") {
            line-height: 1.2rem!important;
            font-size: 1rem!important;
            padding: 0.5rem 1.2rem!important;
        }
}


