@import '../../variables';
    
.thumbnail_container {
        display: flex;
        justify-content: center;

        .product_thumbnail {
            width: 74%;
            background-color: transparent;
        }
}
        
.item_title {
        position: relative;
        display: flex;
        justify-content: end;
        margin: 0px auto;
        color: $button_dark;
        font-size: 1.7em;
        padding: 0px;
        text-align: center;

        h3 {
                display: inline-block;
                position: absolute;
                top:0;
                margin-top: 0;
        }
}

.item_price {
        color: $button_dark;
        font-size: 1.7em;
        padding: 0px;
}

button {
        @extend %button_dark;
        line-height: 1.7rem;
        font-size: 1rem;
        padding: 0.5rem 2.1rem;
}


