@import '../../variables';
@import '../../mixinsResponsive';

.numbers_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2rem auto 3.8rem auto;
    column-gap: 3em;
    gap: 14%;

    @include respond-to("tablet_device") {
        gap: 5%;
    }

    .numbers_card {
        width: 26%;
        background-color: $card_background;
        display: grid;
        grid-template-rows: 4fr 9fr;
        align-content: space-between;
        text-align: center;
        padding: 2rem;
        flex: 1, 1, 1;
        border-radius: 3em;
        aspect-ratio: 10 / 6;


        @include respond-to("small_laptop") {
            background-color: $card_background;
            display: grid;
            grid-template-rows: 4fr 6fr;
            align-content: start;
            text-align: center;
            padding: 1rem;
            gap: 1rem;
            flex: 1, 1, 1;
            border-radius: 3em;
        }

        @include respond-to("tablet_device") {
            width: 30%;
            padding: 0.8rem;
            grid-template-rows: 4fr 12fr;

        }

        .number {
            font-size: 2.7rem;
            font-weight: 600;

            @include respond-to ("small_laptop") {
                font-size: 2.5rem;
            }

            @include respond-to ("tablet_device") {
                font-size: 1.9rem;
            }
        }

        .number_text {
            font-size: 2.7em;
            color: $text-regular;
            margin: 0 auto;

            @include respond-to ("small_laptop") {
                font-size: 2.4em;
            }

            @include respond-to ("tablet_device") {
                font-size: 1.3rem;
                line-height: 90%;
            }
        }
    }
}